

<div class="movie-search">

    <div class="searchHeader">
        <h2>snapMDB Movie Search</h2>

        <div class="search">
            <input [(ngModel)]= "searchTerm" placeholder="Enter movie title" (submit)="searchMovies()" />
            <button (click)="searchMovies()">Search</button>
        </div>
        
    </div>



    @if(selectedMovie){
        <div >
          <h3>{{ selectedMovie.Title }} ({{ selectedMovie.Year }})</h3>
          <p><strong>Director:</strong> {{ selectedMovie.Director }}</p>
          <p><strong>Plot:</strong> {{ selectedMovie.Plot }}</p>
          <img [src]="selectedMovie.Poster" alt="{{ selectedMovie.Title }}" />
        </div>
               
    }

    <div class="recommandations">
        @if(errorMessage){  
            <p class="error">{{ errorMessage }}</p>
          }  
      
          @if(movies.length > 0){
            @for( movie of movies; track movie.imdbID){ 
              <app-movie-preview [movie]="movie" (click)="getMovieDetails(movie.imdbID)">
                </app-movie-preview>
            }
            
            
            @empty {
              <p>No movies found</p>
            }
          }
        
    
      
  
    
</div>